.container {
    max-width: 960px;
    font-family: 'Cantarell', sans-serif;
}

.row {
    margin: 36px 0;
}

.lang-switch {
    font-size: 13px;
    margin: 12px 0;
    text-align: right;
}

.btn.btn-primary.btn-block {
    height: 48px;
    font-size: 18px;
}

#image-recogintion > p {
    animation: 0.5s all;
}

img#image-upload {
    width: 100%;
    max-height: 600px;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}
